  .mainhead {
        width: 100vw;
        height: 45vh;
        margin-top: 50px;
        background-color: rgb(57, 102, 102);
        border-radius: 0px 0px 10px 10px;
        position: absolute;
    }

/* עיצוב פסקה שמהווה ככתורת ראשית בתוך ההדר*/
    .mainhead h1 {
        width: 500px;
        text-align: center;
        margin: 100px auto;
        font-size: 3rem;
        background-color: rgb(57, 102, 102);
        padding: 15px;
        border: 3px solid rgb(255, 255, 255,0.3);
        margin-bottom: 110px;
        border-radius:70px 0px 0px 70px ;
        font-family: 'Gilda Display', serif;
        color: aliceblue;
    }

    /* עיצוב פסקה שתחת הכותרת הראשית */
    .mainhead p {
        width: 500px;
        text-align: center;
        margin: -100px auto;
        background-color: rgb(57, 102, 102);
        font-size: 1.1rem;
        color: aliceblue;
    }

    /*  עיצוב תמונה כתמונת רקע לכל התבנית של ההדר*/
    .bgch {
        width: 80vw;
        
        height: 45vh;
        position: absolute;
        margin-top: 50px;
        border-right: 3px solid white;
        border-radius: 0px 170px 170px 20px;
        opacity: 0.2;  
    }
    div.button{
        margin: 130px auto;
        width: 25vw;
        display: flex;
        justify-content: space-between;
        
    }
  div.kproj{
 text-align: center;
        width: 10vw;
   background-color: #fff;
     padding: 10px;
     border-radius: 20px;
        z-index: 5;
  }

    div.kproj a{
    font-weight: bold;
        font-size: 10pt;
        text-decoration: none;
        color: black;
            
    }
    .con{
        margin-top: 55vh;
        width: 100vw;
        height: 80px;
        box-shadow: 5px 5px 20px  ;
        position: absolute;
    }

     .conimg {
        width: 30vw;
        height: 80px;
        display: flex;
        justify-content: space-around;
        margin-left: 35vw;
        position: absolute;
        background-color: white;
        padding: 10px;
    }

    /* עיצוב הבוקס של האייקונים */
    .conimg .icon {
        width: 60px;
        height: 60px;
    }

/* עיצוב התמונת אייקון עצמה */
    .conimg .icon img {
        width: 60px;
        height: 60px;
        transition: all 0.5s;
        border: 1px solid rgb(0, 128, 128, 0.2);
        border-radius: 10px 10px 10px 10px;
    }
      /* הוספת אלמנטים של עיצוב בעת מעבר על כל תמונת אייקון בשורה */
    .icon:hover>img {
        width: 80px;
        height: 80px;
        box-shadow: 3px 3px 8px;
        border-radius: 40px 40px 40px 40px;
        border: none;
    }

    div.pojimg{
        width: 100%;
        margin-top: 75vh;
        background-color: rgb(160, 231, 231);
        position: absolute;
    }
    div.pojimg img{
width: 80%;
height: 90%;
margin-top: 5%;
margin-left: 10%;
box-shadow: 5px 5px 20px ;
    }
.zhuyut{
    width: 100%;
    background-color: beige;
    font-weight: 700;
     color: navy;
    padding: 20px;
    text-align: right;
    font-size: 1rem;
    margin-top: 20px;
}
 @media (max-width:730px){
.con{
    margin-top: 35vh;
}
     .conimg{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(6,1fr);
    }
     .conimg .icon {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin: 0 auto;
    }
    .conimg .icon img {
        width: 40px;
        height: 40px;
    }
     .icon01 {
        margin-left: 20%;
        
    }

    .icon3 {
        margin-right: 20;
    }
    .mainhead{
        height: 25vh;
    }
    .bgch{
        height: 25vh;
    }

    .mainhead h1 {
        width: 80vw;
        font-size: 1.1rem;
        margin-top: 40px;  
        margin-bottom: 130px;
    }

    .mainhead p {
        width: 80vw;
        font-size: 0.6rem;
    }
    div.button{
        margin-top: 110px;
        width: 55vw;
    }
    div.kproj{
        width: 25vw;
                font-size: 0.5rem;

    }
    div.kproj a{
        font-size: 0.5rem;
    }

    div.pojimg{
        margin-top: 45vh;
    }
    .zhuyut{
    font-size: 0.7rem;
}
 }